<div class="carousel-container">
  <div *ngIf="loadingService.isLoading | async" class="loader-container">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
    <table  *ngFor="let meme of Animememes; let i = index" >
      <thead class="table-light">
        <tr>
          
          <h1 [ngClass]="{'image-active' : selectedIndex === i}">{{meme.title}}</h1>
        </tr>
        
        <tr>
          <img  src="{{meme.url}}" alt="error"
          [ngClass]="{'image-active' : selectedIndex === i}">

        </tr>
            
      </thead>
    </table>
    <button  *ngIf="loadingService.isNotLoading | async" class="btn-carousel btn-prev">
      <i class="fas fa-arrow-circle-left icon-carousel icon-prev"
      (click)="onPrevClick()"
      ></i>
    </button>
      <button  *ngIf="loadingService.isNotLoading | async"  class="btn-carousel btn-next">
        <i class="fas fa-arrow-circle-right icon-carousel icon-next"
        (click)="onNextClick()"
        ></i>
        </button>
  </div>